<!DOCTYPE HTML>
<title> Application Form </title>

<body> 
  <form action="/postSubmittingApp" method="POST">
   <g1> Student ID*: </g1></g1><input type="text" name="studentID" minlength = "1" required> <br>
   <g1> degreeSeeking*: </g1></g1><input type="text" name="degreeSeeking" minlength = "1" required> <br>
    <g1> Completed a Masters?: </g1></g1><input type="text" name="MScheck"> <br>
    <g1> MSmajor: </g1></g1><input type="text" name="MSmajor"><br>
    <g1> MSyear: </g1></g1><input type="text" name="MSyear"><br>
    <g1> MSuniversity: </g1></g1><input type="text" name="MSuniversity"><br>
    <g1> MSgpa: </g1></g1><input type="text" name="MSgpa"><br>
    <g1> Completed a Bachelors?*: </g1></g1><input type="text" name="BAcheck"><br>
    <g1> BAmajor*: </g1></g1><input type="text" name="BAmajor" minlength = "1" required><br>
    <g1> BAyear*: </g1></g1><input type="text" name="BAyear" minlength = "1" required><br>
    <g1> BAuniversity*: </g1></g1><input type="text" name="BAuniversity" minlength = "1" required><br>
    <g1> BAgpa*: </g1></g1><input type="text" name="BAgpa" minlength = "1" required><br>
    <g1> GREverbal: </g1></g1><input type="number" min="0" max="170" name="GREverbal"><br>
    <g1> GREquantitative: </g1></g1><input type="number" min="0" max="170" name="GREquantitative"><br>
    <g1> GREyear: </g1></g1><input type="text" name="GREyear"><br>
    <g1> GREadvancedScore: </g1></g1><input type="text" name="GREadvancedScore"><br>
    <g1> GREadvancedSubject: </g1></g1><input type="text" name="GREadvancedSubject"><br>
    <g1> TOEFLscore: </g1></g1><input type="text" name="TOEFLscore"><br>
    <g1> TOEFLdate: </g1></g1><input type="text" name="TOEFLdata"><br>
    <g1> startDate*: </g1></g1><input type="text" name="startDate" minlength = "1" required><br>
    <g1> priorWork*: </g1></g1><input type="text" name="priorWork" minlength = "1" required><br>
    <g1> r1writer*: </g1></g1><input type="text" name="r1writer" minlength = "1" required><br>
    <g1> r1email*: </g1></g1><input type="text" name="r1email" minlength = "1" required><br>
    <a href ="/email"> View email we will send to your recommender</a> <br>
    <g1> r1title*: </g1></g1><input type="text" name="r1title" minlength = "1" required><br>
    <g1> r1affiliation*: </g1></g1><input type="text" name="r1affiliation" minlength = "1" required><br>
    <g1> r2writer: </g1></g1><input type="text" name="r2writer"><br>
    <g1> r2email: </g1></g1><input type="text" name="r2email"><br>
    <a href ="/email"> View email we will send to your recommender</a> <br>
    <g1> r2title: </g1></g1><input type="text" name="r2title"><br>
    <g1> r2affiliation: </g1></g1><input type="text" name="r2affiliation"><br>
    <g1> r3writer: </g1></g1><input type="text" name="r3writer"><br>
    <g1> r3email: </g1></g1><input type="text" name="r3email"><br>
    <a href ="/email"> View email we will send to your recommender</a> <br>
    <g1> r3title: </g1></g1><input type="text" name="r3title"><br>
    <g1> r3affiliation: </g1></g1><input type="text" name="r3affiliation"><br>
    <br> Submit: </br><input type="submit" name="submit"><br>
</form>
</body>