<html>
    <head>
        <title>Graduation Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f16edda68d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <br>
        <div class="container p-2">
            <div class="container d-flex flex-row justify-content-center">
                <h1 class="fw-bold"> <h1> Graduation Portal </h1>
            </div>
            <div class="container w-50">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope = "col">Title</th>
                            <th scope = "col">Grade</th>
                            <th scope = "col">Credits</th>
                            <th scope = "col">Semester-Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grade in courses %}
                            <tr>
                                <td>{{grade['title']}}
                                    <span id="subtext">
                                    {{grade['dept']}} {{grade['courseNumber']}}
                                    </span>
                                </td>
                                <td>{{grade['grade']}}</td>
                                <td>{{grade['credits']}}</td>
                                <td>{{grade['semester']}}-{{grade['year']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="message">{{ message }}</div><br/>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% if message %}
                    <div id="message">{{ message }}</div><br/>
                {% endif %}
                <br>
                <span class="option"><a class="btn btn-secondary" id="graduate_button" href="/apply2grad">Apply to Graduate</a></span><br/>
                <br>
                <div class="container d-flex flex-row justify-content-center">
                    <a class="btn btn-primary" href = "/advPortal"> Go Back</a>
                </div>
            </div>
        </div>
    </body>
</html>