<html>
    <head>
        <title>Fillout Review Form</title>
    </head>

    <body>
        <form action="/submitReviewForm" method="POST">
        <h4>studentID*: <input type="text" name="studentID" minlength = "1" required></h4>
        <h4>reviewer*: <input type="text" name="reviewer" minlength = "1" required></h4>
        <h4>r1rating*: <input type="text" name="r1rating" minlength = "1" required></h4>
        <h4>r1generic*: <input type="text" name="r1generic" minlength = "1" required></h4>
        <h4>r1credible*: <input type="text" name="r1credible" minlength = "1" required></h4>
        <h4>r1from*: <input type="text" name="r1from" minlength = "1" required></h4>
        <h4>r2rating: <input type="text" name="r2rating"></h4>
        <h4>r2generic: <input type="text" name="r2generic"></h4>
        <h4>r2credible: <input type="text" name="r2credible"></h4>
        <h4>r2from: <input type="text" name="r2from"></h4>
        <h4>r3rating: <input type="text" name="r3rating"></h4>
        <h4>r3generic: <input type="text" name="r3generic"></h4>
        <h4>r3credible: <input type="text" name="r3credible"></h4>
        <h4>r3from: <input type="text" name="r3from"></h4>
        <h4>GASrating: <input type="text" name="GASrating"></h4>
        <h4>deficiencies: <textarea rows="5" cols="40" name="deficiencies"></textarea></h4>
        <h4>rejectReason: <textarea rows="5" cols="40" name="rejectReason"></textarea></h4>
        <h4>thoughts: <textarea rows="5" cols="40" name="thoughts"></textarea></h4>
        <h4>semesterApplied*: <input type="text" name="semesterApplied" minlength = "1" required></h4>
        <h4>decision*: <input type="text" name="decision" minlength = "1" required></h4>

        <h4>Submit: <input type="submit" name="submit"></h4>
        </form> 
    </body>
</html>