<html>
    <head>
        <title>View Review Form</title>
    </head>

    <body>
        <h3>StudentID: {{form.studentID}}</h3>
        <h3>reviewer: {{form.reviewer}}</h3>
        <h3>r1rating: {{form.r1rating}}</h3>
        <h3>r1generic: {{form.r1generic}}</h3>
        <h3>r1credible: {{form.r1credible}}</h3>
        <h3>r1from: {{form.r1from}}</h3>
        <h3>r2rating: {{form.r2rating}}</h3>
        <h3>r2generic: {{form.r2generic}}</h3>
        <h3>r2credible: {{form.r2credible}}</h3>
        <h3>r2from: {{form.r2from}}</h3>
        <h3>r3rating: {{form.r3rating}}</h3>
        <h3>r3generic: {{form.r3generic}}</h3>
        <h3>r3credible: {{form.r3credible}}</h3>
        <h3>r3from: {{form.r3from}}</h3>
        <h3>GASrating: {{form.GASrating}}</h3>
        <h3>deficiencies: {{form.deficiencies}}</h3>
        <h3>rejectReason: {{form.rejectReason}}</h3>
        <h3>thoughts: {{form.thoughts}}</h3>
        <h3>semesterApplied: {{form.semesterApplied}}</h3>
        <h3>decision: {{form.decision}}</h3>

    </body>
</html>