<html>
    <head>
        <title>View Application</title>
    </head>

    <body>
        <h3>StudentID: {{form.studentID}}</h3>
        <h3>Degree Seeking: {{form.degreeSeeking}}</h3>
        <h3>MScheck: {{form.MScheck}}</h3>
        <h3>MSmajor: {{form.MSmajor}}</h3>
        <h3>MSyear: {{form.MSyear}}</h3>
        <h3>MSuniversity: {{form.MSuniversity}}</h3>
        <h3>MSgpa: {{form.MSgpa}}</h3>
        <h3>BAcheck: {{form.BAcheck}}</h3>
        <h3>BAmajor: {{form.BAmajor}}</h3>
        <h3>BAyear: {{form.BAyear}}</h3>
        <h3>BAuniversity: {{form.BAuniversity}}</h3>
        <h3>BAgpa: {{form.BAgpa}}</h3>
        <h3>GREverbal: {{form.GREverbal}}</h3>
        <h3>GREquantitative: {{form.GREquantitative}}</h3>
        <h3>GREyear: {{form.GREyear}}</h3>
        <h3>GREadvancedScore: {{form.GREadvancedScore}}</h3>
        <h3>GREadvancedSubject: {{form.GREadvancedSubject}}</h3>
        <h3>TOEFLscore: {{form.TOEFLscore}}</h3>
        <h3>TOEFLdata: {{form.TOEFLdata}}</h3>
        <h3>priorWork: {{form.priorWork}}</h3>
        <h3>startDate: {{form.startDate}}</h3>
        <h3>transcriptStatus: {{form.transcriptStatus}}</h3>
        <h3>r1status: {{form.r1status}}</h3>
        <h3>r1writer: {{form.r1writer}}</h3>
        <h3>r1email: {{form.r1email}}</h3>
        <h3>r1title: {{form.r1title}}</h3>
        <h3>r1affiliation: {{form.r1affiliation}}</h3>
        <h3>r1letter: {{form.r1letter}}</h3>
        <h3>r2status: {{form.r2status}}</h3>
        <h3>r2writer: {{form.r2writer}}</h3>
        <h3>r2email: {{form.r2email}}</h3>
        <h3>r2title: {{form.r2title}}</h3>
        <h3>r2affiliation: {{form.r2affiliation}}</h3>
        <h3>r2letter: {{form.r2letter}}</h3>
        <h3>r3status: {{form.r3status}}</h3>
        <h3>r3writer: {{form.r3writer}}</h3>
        <h3>r3email: {{form.r3email}}</h3>
        <h3>r3title: {{form.r3title}}</h3>
        <h3>r3affiliation: {{form.r3affiliation}}</h3>
        <h3>r3letter: {{form.r3letter}}</h3>

    </body>
</html>